.primary-bg{
    background-color: #01CBFF;
}

.primary-bg-h:hover{
    background-color: #01CBFF;
}

.secondery-bg{
    background-color: #4E8F9F;
}

.green-bg{
    background-color: #A6FF00;
}

.color-h{
    color: red;
}
.color-h:hovre{
    color: #01CBFF;
}

.optional-bg{
    background-color: #fd79a8;
}

/* .light-bg{
    background-color: #74b9ff;
} */

.color-white{
    color: white !important;
}

.color-green{
    color: #A6FF00;
}

.f-color-sk-b{
    color: #4E8F9F;
}

.color-w-h:hover{
    color: #A6FF00 !important;
}

.f-color-light{
    color: #b2bec3;
}

.bg-dk-light{
    background-color: #b2bec3;
}


.f-color-mid-dark{
    color: #636e72;
}

.f-color-dark{
    color: #2d3436;
}

.f-color-black{
    color: #2d3436;
}

.color-y{
    color: yellow;
}