*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 18px;
}

mark{
    background-color: #4E8F9F;
    color: white;
}

mark:hover{
    background-color: #A6FF00;
}

del{
    font-size: 18px;
}

a{
    text-decoration: none;
    /* color: rgb(40, 9, 216); */
}

button{
    outline: none;
    /* border: none; */
}



