*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mark{
    background-color: #01CBFF;
    color: white;
}

del{
    font-size: 18px;
}

a{
    text-decoration: none;
    /* color: rgb(40, 9, 216); */
}

button{
    outline: none;
    /* border: none; */
}

i{
    padding-right: 2px;
}


