*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
.c-green{
    color: #309255;
}
.c-white{
    color: white;
}
.c-light{
    background-color: #EEFBF3;
}
a{
    text-decoration: none;
}
a:hover{
    color: #212832;
}

/* first section css */
.first-s{
    background-color: #212832;
    color: white;
}

/* main menu/nav */
.m-menu{
    border-radius: 22px;
}
.menu-l{
    color: #212832;
    font-weight: bold;
    border-bottom: 2px #EEFBF3;
}
.menu-l:hover{
    color: #309255;
    border-bottom: 2px solid #309255;
}
.in-out{
    border: 1px solid #309255;
    padding: 8px 10px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.login{
    background-color: #309255;
    color: white;
}
.login:hover{
    background-color: #EEFBF3;
    color: #212832;
}
.register:hover{
    background-color: #309255;
    color: white;
}
/* main banner section */
.course-btn{
    color: white;
    background-color: #309255;
    border: none;
    padding: 16px 20px;
}
.course-btn:hover{
    background-color: #212832;
    color: white;
}
.girl-sec{
    background-image: url(../img/cute-g.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 0px;
}
.animation-img{
    background-image: url(../img/dote.png);
    background-repeat: no-repeat;
    background-position: right;
    animation: round 8s linear 0s infinite normal forwards;
}
.ball-r{
    background-color: #309255;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    border: 5px solid#80cd9d;
}
.ball-r p{
    font-weight: bold;
    display: block;
}
.ball-r:hover{
    background-color: #212832;
}
/* college name & search bar */

/* course's */
.course a{
    /* width: 10%; */
    padding: 10px 12px;
    border: 5px solid #80cd9d;
    background-color: #309255;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 5px;
}
.course a:hover{
    background-color: #212832;
    color: white;
}

/* teachers revier blog */
.t-card{
    border-radius: 20px;
    border: 2px solid #b8d6c4;
    transition: 0.5s;
    
}
.t-card:hover{
    border: 2px solid #309255;
    box-shadow: 0px 0px 15px 5px #80cd9d;
}
.f-img{
    border-radius: 40px;
}
.teacher{
    border-radius: 50%;
    width: 55px;
    border: 3px solid #80cd9d;
    height: 55px;
}
.dpt{
    padding: 5px 8px;
    border: 2px soldi #309255;
    color: #309255;
    background-color: #EEFBF3;
}
.view-more{
    font-weight: bold;
    border: 1px solid #309255;
    color: #212832;
    border-radius: 4px;
    background-color: #E7F8EE;
}
.view-more:hover{
    background-color: #309255;
}
/* instractor section */
.instractor-bg{
    background-color: #E7F8EE;
    background-image: url(../img/dote.png);
    background-repeat: no-repeat;
    background-position: right;
}
.t-info{
    border-radius: 20px;
}
.left-d{
    background-image: url(../img/dote.png);
    background-repeat: no-repeat;
    background-position: left;
}
.info-btn{
    padding-top: 40px;
}
/* course option start */
.c-opt{
    background-color: #EEFBF3;
    border-radius: 10px;
}
.c-top-dv{
    border-radius: 8px;
    border: 1px solid #309255;
    color: #309255;
    padding: 20px;
}
.c-opt:hover .c-top-dv{
    color: white;
    background-color: #309255;
}
/* Dawnload app */
.dawnload-bg{
    background-image: url(../img/g_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.dw-btn{
    border-radius: 5px;
    border: 4px solid #878f9a;
}
.dw-btn:hover{
    border: 4px solid rgb(83, 159, 206);
}
/* student review section */
.s-rv{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #80cd9d;
}
.rvew{
    border: 1px solid #309255;
    border-radius: 10px;
}
.rvew:hover{
    box-shadow: 0px 0px 15px 5px #80cd9d;
}
.rvew:hover .st-rv i{
    color: goldenrod;
}
/* wh_s.png */