/* Custom CSS */
@import url(./font.css);
@import url(./global.css); 
@import url(./color.css);

/* Top Header Secion */
.t-header-hover{
    transition: 0.5s;
    font-weight: bold;
}
.t-header-hover:hover{
    color: black;
}

/* Nav & Logo Section */
.logo{
    background-color: #01CBFF;
    padding: 4px 7px;
    font-weight: bold;
    border-radius: 22px 3px 22px 3px;
    border: 1px solid black;
}
.first-logo{
    color: white;
}
.last-logo{
    color: black;
}
.add-t-cart{
    font-size: 20px;
}

/* Slaider Section */
.s-icon{
    padding: 10px 17px;
    background-color: white;
    border-radius: 50%;
    color: salmon;
}
.s-icon i{
    font-size: 44px;
}

/* Top Products */
.product-c:hover{
    background-color: #01CBFF;
}
.card{
    border: none;
}
.product-c{
    overflow: hidden;
}
.Big-c{
    width: 60%;
    height: 50%;
}
.product-c-img{
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1);
}
.product-c-img:hover{
    transform: scale(1.1);
}
.cart-btn{
    border-radius: 5px;
    color: black;
    padding: 7px 10px;
    background-color: #A6FF00;
    transition: transform .4s;
}
.cart-btn:hover{
    color: white;
    background-color: #4E8F9F;
}

/* Banner ADS secton */
.mins-ag{
    color: #01CBFF;
}
.ad-bg{
    /* border: 1px solid #4E8F9F; */
}
.ad-bg:hover{
    box-shadow: 2px 3px 4px 3px #4E8F9F;
}
